.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.row .flashes h4{
    line-height: 2;
}

.movie-details span{
    font-weight: bold;
}

#search_bar{
    background-color: white;
}

.card-action{
    padding: 0;
    text-align: left;
}

.carousel-container{
    height: 450px;
    font-weight: bold;

}

.carousel{
    height: 600px;
    margin-top: -180px;
    font-weight: bold;
}



.section .block-content,
.section .picture{
    height: 570px;
}

.btn-format{
    cursor: unset;
}