<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Whatx Next Movie?</title>
    <!--FontAwesome Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Materialize Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ url_for('static', filename='css/style_mat.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!--  Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>
    <header>
        <!-- Dropdown Structure Navbar -->
        <ul id="dropdown_navbar" class="dropdown-content">
          <li><a href="{{ url_for('list_movies', list_type='now_playing') }}">Now Playng</a></li>
          <li><a href="{{ url_for('list_movies', list_type='popular') }}">Popular</a></li>
          <li><a href="{{ url_for('list_movies', list_type='top_rated') }}">Top Rated</a></li>
          <li><a href="{{ url_for('list_movies', list_type='upcoming') }}">Upcoming</a></li>
        </ul>
        <!-- Dropdown Structure SideNav-->
        <ul id="dropdown_sidenav" class="dropdown-content">
          <li><a href="{{ url_for('list_movies', list_type='now_playing') }}">Now Playng</a></li>
          <li><a href="{{ url_for('list_movies', list_type='popular') }}">Popular</a></li>
          <li><a href="{{ url_for('list_movies', list_type='top_rated') }}">Top Rated</a></li>
          <li><a href="{{ url_for('list_movies', list_type='upcoming') }}">Upcoming</a></li>
        </ul>
        <nav class="white" role="navigation">
          <div class="nav-wrapper container navbar">
            <a id="logo-container" href="{{ url_for('list_movies', list_type='now_playing') }}" class="brand-logo">Whatx Next?</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="{{ url_for('list_movies', list_type='now_playing') }}">Home</a></li>
              <li><a href="{{ url_for('login') }}">Log in</a></li>
              <li><a href="{{ url_for('register')}}">Register</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Log out</a></li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown_navbar">TMDB Movie lists<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
      
            <ul id="nav-mobile" class="sidenav">
              <li><a href="{{ url_for('list_movies', list_type='now_playing') }}">Home</a></li>
              <li><a href="{{ url_for('login') }}">Log in</a></li>
              <li><a href="{{ url_for('register')}}">Register</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Log out</a></li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-trigger
                " href="#!" data-target="dropdown_sidenav">TMDB Movie lists<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          </div>
      </nav>

      <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h2 class="header center teal-text text-lighten-2 text-shadow">Whatx Next?</h2>

            <div class="row center">
                <h3 class="header col s12 light text-shadow">"What movie watch next?"</h3>
            </div>

            <div class="row center">
                <form class="row center">
                    <div class="row center center-align">
                        <div class="input-field center-align ">
                            <i class="material-icons prefix">search</i>
                            <textarea id="search_bar" name="search_bar" class="materialize-textarea center-align search_bar"></textarea>
                            <label for="search_bar">Search</label>
                        </div>
                    </div>
                </form>
            </div>

            <!--<div class="row center">
              <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
            </div>
            <br><br>
      
                      <div class="row card-panel grey lighten-5">
                <form action="#" method="post" class="col s12">
                    <div class="row valing-wrapper center-align">
                        <div class="input-field col s12 m8">
                            <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                            <input type="text" name="query" id="query" minlength="3" class="validate" required>
                            <label for="query">Search Tasks</label>
                        </div>
                        <div class="col s12 m4">
                            <a href="#" class="red btn text-shadow">Reset</a>
                            <button type="submit" class="light-blue darken-1 btn text-shadow" >
                                <i class="fas fa-search left"></i> Search
                            </button>
                        </div>
                    </div>
                </form>
          </div>-->
    
          </div>
        </div>
        <div class="parallax"><img src="{{ url_for('static', filename='img/background1.jpg') }}" alt="Unsplashed background img 1"></div>
      </div>    

    </header>

    <section>
        <div class="container background">
          <div class="section block-content"> 
                <!-- flash messages -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="row flashes">
                                <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!-- Block Content -->
                {% block content %}

                {% endblock content %}
          </div>
        </div>
        
        
        <div class="parallax-container valign-wrapper">
          <div class="section">
            <div class="container picture">
              <div class="row center">
                <!--<h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>-->
              </div>
            </div>
          </div>
          <div class="parallax"><img src="{{ url_for('static', filename='img/background2.jpg') }}" alt="Unsplashed background img 2"></div>
        </div>

        <div class="container">
          <div class="section">

            <div class="row">
              <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Contact Us</h4>
                 <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat.;</p>
              </div>
            </div>

          </div>
        </div>

        <div class="parallax-container valign-wrapper">
          <div class="section">
            <div class="container picture">
              <div class="row center">
                <!--<h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>-->
              </div>
            </div>
          </div>
          <div class="parallax"><img src="{{ url_for('static', filename='img/background3.jpg') }}" alt="Unsplashed background img 3"></div>
        </div>
    </section>
  
    <footer class="page-footer teal">
        <div class="container">
          <div class="row">
            <div class="col l3 s12">
              <a href="https://www.themoviedb.org" target="_blank">
                <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" 
                    alt="The Movie Db Logo">
            </a>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Company Bio</h5>
              <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. 
                Any amount would help support and continue development on this project and is greatly appreciated.</p>

            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Settings</h5>
              <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Connect</h5>
              <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
          </div>
        </div>
    </footer>

      <!--  Scripts-->
      <!--<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='js/materialize.js')}}"></script>
      <script src="{{ url_for('static', filename='js/init.js')}}"></script>
      <script src="{{ url_for('static', filename='js/script.js')}}"></script>

</body>
</html>
