<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Whatx Next Movie?</title>
    <!--https://pypi.org/project/Flask-Toastr/-->
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
    <!--FontAwesome Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Materialize Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ url_for('static', filename='css/style_mat.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Animated Checkboxes -->
    <!-- src https://codepen.io/jaradlight/pen/IEbKq -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    
    <link href="{{ url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
    
    <!--  Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <!-- Init EmailJS -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        emailjs.init("user_6au7ehLY75DqZoHcBTN3y");
      })();
    </script>
</head>
<body>
    {{ toastr.include_toastr_js() }}
    <header>
        <!-- Dropdown Structure Navbar -->
        <ul id="dropdown_navbar" class="dropdown-content">
            <li><a href="{{ url_for('list_movies', list_type='movie', list_name='now_playing') }}">Now Playng</a></li>
            <li><a href="{{ url_for('list_movies', list_type='movie',list_name='popular') }}">Popular</a></li>
            <li><a href="{{ url_for('list_movies', list_type='movie',list_name='top_rated') }}">Top Rated</a></li>
            <li><a href="{{ url_for('list_movies', list_type='movie',list_name='upcoming') }}">Upcoming</a></li>
            <li><a href="{{ url_for('list_movies', list_type='tv', list_name='airing_today') }}">TV Airing Today</a></li>
            <li><a href="{{ url_for('list_movies', list_type='tv', list_name='on_the_air') }}">TV On The Air</a></li>
            <li><a href="{{ url_for('list_movies', list_type='tv', list_name='popular') }}">TV Popular</a></li>
        </ul>
        <!-- Dropdown Structure SideNav-->
        <ul id="dropdown_sidenav" class="dropdown-content">
            <li><a href="{{ url_for('list_movies', list_type='movie', list_name='now_playing') }}">Now Playng</a></li>
            <li><a href="{{ url_for('list_movies', list_type='movie',list_name='popular') }}">Popular</a></li>
            <li><a href="{{ url_for('list_movies', list_type='movie',list_name='top_rated') }}">Top Rated</a></li>
            <li><a href="{{ url_for('list_movies', list_type='movie',list_name='upcoming') }}">Upcoming</a></li>
            <li><a href="{{ url_for('list_movies', list_type='tv', list_name='airing_today') }}">TV Airing Today</a></li>
            <li><a href="{{ url_for('list_movies', list_type='tv', list_name='on_the_air') }}">TV On The Air</a></li>
            <li><a href="{{ url_for('list_movies', list_type='tv', list_name='popular') }}">TV Popular</a></li>
        </ul>
        <nav class="white" role="navigation">
          <div class="nav-wrapper container navbar">
            <a id="logo-container" href="{{ url_for('list_movies', list_type='now_playing') }}" class="brand-logo">Whatx Next?</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="{{ url_for('list_movies', list_type='now_playing') }}">Home</a></li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown_navbar">TMDB lists
                  <i class="material-icons right">arrow_drop_down</i></a></li>              
              <li><a href="#contact">Contact Us</a></li>
              {% if session.user %}
                  <li>                 
                      <a class="chip tooltipped btn-flat" data-position="bottom" data-tooltip="Edit Profile"
                        href="{{ url_for('edit_profile_page', username=session['user']) }}">
                        <i class="tiny material-icons left">settings</i>{{ session.user }}</a>
                  </li>
                  <li><a href="{{ url_for('logout') }}">Log out</a></li>
              {% else %}
                  <li><a href="{{ url_for('login') }}">Log in</a></li>
                  <li><a href="{{ url_for('register')}}">Register</a></li>
              {% endif %}
            </ul>
      
            <ul id="nav-mobile" class="sidenav">
              <li><a href="{{ url_for('list_movies', list_type='now_playing') }}">Home</a></li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-trigger
                " href="#!" data-target="dropdown_sidenav">TMDB Movie lists<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="#contact">Contact Us</a></li>
              {% if session.user %}
                  <li>                 
                    <a class="chip tooltipped btn-flat" data-position="right" data-tooltip="Edit Profile"
                      href="{{ url_for('edit_profile_page', username=session['user']) }}">
                      <i class="tiny material-icons left">settings</i>{{ session.user }}</a>
                  </li>
                  <li><a href="{{ url_for('logout') }}">Log out</a></li>
              {% else %}
                  <li><a href="{{ url_for('login') }}">Log in</a></li>
                  <li><a href="{{ url_for('register')}}">Register</a></li>
              {% endif %}
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          </div>
      </nav>

      <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h2 class="header center teal-text text-lighten-2 text-shadow">Whatx Next?</h2>

            <div class="row center">
                <h3 class="header col s12 light text-shadow">"Do you know what watch next?"</h3>
            </div>

            <div class="row center">
                <form class="row center">
                    <div class="row center center-align">
                        <div class="input-field">
                            <i class="material-icons prefix">search</i>
                            <input type="text" id="search_bar" value=" " class="materialize-textarea search_bar validate"
                            minlength="5" maxlength="50" pattern="^[a-zA-Z0-9]{5,50}$"></input>
                            <label for="search_bar">To Search Press "Enter" </label>
                        </div>
                    </div>
                </form>
            </div>
    
          </div>
        </div>
        <div class="parallax"><img src="{{ url_for('static', filename='img/background1.jpg') }}" alt="Unsplashed background img 1"></div>
      </div>    

    </header>

    <section>
        <div class="container background">
          <div class="section block-content"> 
                <!-- flash messages -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="row flashes">
                                <h4 class="red lighten-4 center-align">{{ message }}</h4>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!-- Block Content -->
                {% block content %}

                {% endblock content %}
          </div>
        </div>
        
        
        <div class="parallax-container valign-wrapper">
          <div class="section">
            <div class="container picture">
              <div class="row center">
                <!--<h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>-->
              </div>
            </div>
          </div>
          <div class="parallax"><img src="{{ url_for('static', filename='img/background2.jpg') }}" alt="Unsplashed background img 2"></div>
        </div>

        <div class="container">
          <div class="section">
            <div class="row">
              <div id="contact" class="col s12 contact center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Contact Us</h4>
                <div class="center-form contact-form">
                  <form id="contactForm" onsubmit="return sendEmail(this);">
                    <input
                      type="text"
                      name="name"
                      id="name"
                      class="form-control name validate"
                      placeholder="Name"
                      required
                    />
                    <input
                      type="email"
                      name="e-mail"
                      id="email"
                      class="form-control email validate"
                      placeholder="Email"
                      required
                    />
                    <textarea
                      rows="5"
                      name="comment"
                      id="comment"
                      class="form-control comment validate"
                      placeholder="Place your comment here!"
                      required
                    ></textarea>
                    <div class="form-row text-center">
                      <div class="col s12 center-align">
                        <br>
                        <button
                          type="submit"
                          id="btn-submit"
                          class="btn btn-secondary mt-1"
                        > <i class="material-icons left">mail</i>
                          Submit
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="parallax-container valign-wrapper">
          <div class="section">
            <div class="container picture">
              <div class="row center">
                <!--<h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>-->
              </div>
            </div>
          </div>
          <div class="parallax"><img src="{{ url_for('static', filename='img/background3.jpg') }}" alt="Unsplashed background img 3"></div>
        </div>
    </section>
  
    <footer class="page-footer teal">
        <div class="container">
          <br>
          <div class="row">
            <div class="col l2 s12 center-align">
              <br>
              <a href="https://www.themoviedb.org" target="_blank">
                <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
                    alt="The Movie Db Logo">
            </a>
            </div>
            <div class="col l5 s12 center-align">
              <h5 class="white-text">Whatx Next?</h5>
              <p class="grey-text text-lighten-4">It's My 3º Milestone Project from Code Institute, and it is a web page developed using the Flask 
                Framework, Jquery, Materialize and powered by The Movie DB API,
                providing all movies and tv series content. </p>

            </div>
            <div class="col l5 s12 center-align">
              <h5 class="white-text">Project Links</h5>
              <ul>
                <li><a class="white-text" href="https://github.com/brunobdias/whatx_next/" target="_blank">  <i class="fab fa-github" aria-hidden="true"></i>
                  <span class="sr-only">Github</span>Github</a></li><br>
                <li><a class="white-text" href="https://github.com/brunobdias/whatx_next/#readme"><i class="far fa-file-alt" aria-hidden="true"></i>
                  <span class="sr-only">Project Readme</span>Project Readme</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row s12 footer-copyright">
          <div class="col s6 container right-align">
            Whatx Next? - Developed by <a class="white-text text-lighten-3" href="https://github.com/brunobdias">Bruno Dias</a>
          </div>
          <div class="col s6 container right-align">
            Parallax Template by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
          </div>
        </div>
    </footer>

      <!--  Scripts-->
      <!-- partial -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='js/materialize.js')}}"></script>
      <script src="{{ url_for('static', filename='js/init.js')}}"></script>
      <script src="{{ url_for('static', filename='js/script.js')}}"></script>
      <script src="{{ url_for('static', filename='js/sendEmail.js')}}"></script>

</body>
</html>
