<div class="col s12">
    <ul class="tabs">
        <li class="tab col" style='display:none;'> <a class="active tab" href="#"></a></li>
        <li class="tab col" style='display:none;'><a href="{{ url_for('list_movies', list_type='now_playing') }}">
                <i class="material-icons">local_movies</i>Home</a></li>
        <li class="tab col"><a class="tab-list" href="#tab2"><i class="material-icons">add_box</i> Watchlist</a></li>
        <li class="tab col"><a class="tab-list" href="#tab3"><i class="material-icons">check_box</i> Watched</a></li>
        <li class="tab col"><a class="tab-list" href="#tab4"><i class="material-icons">favorite</i> Liked</a></li>
        <li class="tab col"><a class="tab-list" href="#tab5"><i class="material-icons">star</i> Favorite</a></li>
        <li class="tab col"><a class="tab-list" href="#my_movies"><i class="material-icons">settings</i> My Movies</a></li>
    </ul>
    <br>
    <br>
</div>