{% extends 'base.html' %}
    {% block content %}
        <div class="carousel-container">
            <h3 class="center-align s12 text-shadow high-light-head">
                <mark>&nbsp {{ list_name }} &nbsp</mark>
            </h3>
            <div class="carousel">
                {% for movie in movies %}
                    {% if list_type == 'movie' %}
                        {% set title = movie['title'] %}
                    {% else %}
                        {% set title = movie['name'] %}
                    {% endif %}
                    <a class="carousel-item tooltipped center-align img-hover-zoom" 
                        href="{{ url_for('view_movie', list_type=list_type, movie_id=movie.id) }}" 
                        data-position="bottom" data-tooltip="{{title}}">
                        <img src="{{movie['poster_path']}}"  alt="Title Cover">
                        {{title}}
                    </a>
                {% endfor %}
            </div>
        </div> 

        <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col"><a class="active" href="#tab1"><i class="material-icons">local_movies</i> {{ list_name }}</a></li>
                <li class="tab col"><a  href="#tab2"><i class="material-icons">add_box</i> Watchlist</a></li>
                <li class="tab col"><a href="#tab3"><i class="material-icons">check_box</i> Watched</a></li>
                <li class="tab col"><a href="#tab4"><i class="material-icons">favorite</i> Liked</a></li>
                <li class="tab col"><a href="#tab5"><i class="material-icons">star</i> Favorite</a></li>
                <li class="tab col"><a href="#tab6"><i class="material-icons">settings</i> My Movies</a></li>
                <li class="tab col"><a href="#tab7">Reviews Panel</a></li>
                
              </ul>
            </div>
            <div id="tab1" class="col lists">
                <ul id="ul-lists">
                    {% for movie in movies %}
                        {% if list_type == 'movie' %}
                            {% set title = movie['title'] %}
                        {% else %}
                            {% set title = movie['name'] %}
                        {% endif %}
                        <li class="col item-list"><a class="tooltipped img-hover-zoom--colorize" 
                            href="{{ url_for('view_movie', list_type=list_type, movie_id=movie.id) }}" 
                            data-position="bottom" data-tooltip="{{title}}">
                            <img src="{{movie['poster_path']}}" alt="Title Cover">
                            <mark><div class="title">
                                {{title}}
                            </div></mark> 
                            </a> <br>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="tab2" class="col s12">
                <ul id="ul-lists">
                    {% for movie in watchlist %}
                        {% if list_type == 'movie' %}
                            {% set title = movie['title'] %}
                        {% else %}
                            {% set title = movie['name'] %}
                        {% endif %}
                        <li class="col item-list"><a class="tooltipped img-hover-zoom--colorize" 
                            href="{{ url_for('view_movie', list_type=list_type, movie_id=movie['movie_id']) }}" 
                            data-position="bottom" data-tooltip="{{title}}">
                            <img src="{{movie['poster_path']}}" width="250" alt="Title Cover">
                            <mark><div class="title">
                                {{title}}
                            </div></mark>
                            </a> <br> 
                        </li>
                    {% else %}
                        {% if session.user %}
                            <li class="col s12 center"><h5>Empty List</h5></li>
                        {% else %}    
                            <li class="col s12 center">
                                You Must
                                <a href="{{ url_for('login')}}" class="light-blue-text text-darken-4">Log In</a>
                                To Check Your Lists
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="tab3" class="col s12">
                <ul id="ul-lists">
                    {% for movie in watched_list %}
                        {% if list_type == 'movie' %}
                            {% set title = movie['title'] %}
                        {% else %}
                            {% set title = movie['name'] %}
                        {% endif %}
                        <li class="col item-list"><a class="tooltipped img-hover-zoom--colorize" 
                            href="{{ url_for('view_movie', list_type=list_type, movie_id=movie['movie_id']) }}" 
                            data-position="bottom" data-tooltip="{{title}}">
                            <img src="{{movie['poster_path']}}" width="250" alt="Title Cover">
                            <mark><div class="title">
                                {{title}}
                            </div></mark>
                            </a> <br> 
                        </li>
                    {% else %}
                        {% if session.user %}
                            <li class="col s12 center"><h5>Empty List</h5></li>
                        {% else %}    
                            <li class="col s12 center">
                                You Must
                                <a href="{{ url_for('login')}}" class="light-blue-text text-darken-4">Log In</a>
                                To Check Your Lists
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="tab4" class="col s12">
                <ul id="ul-lists">
                    {% for movie in liked_list %}
                        {% if list_type == 'movie' %}
                            {% set title = movie['title'] %}
                        {% else %}
                            {% set title = movie['name'] %}
                        {% endif %}
                        <li class="col item-list"><a class="tooltipped img-hover-zoom--colorize" 
                            href="{{ url_for('view_movie', list_type=list_type, movie_id=movie['movie_id']) }}" 
                            data-position="bottom" data-tooltip="{{title}}">
                            <img src="{{movie['poster_path']}}" width="250" alt="Title Cover">
                            <mark><div class="title">
                                {{title}}
                            </div></mark>
                            </a> <br> 
                        </li>
                    {% else %}
                        {% if session.user %}
                            <li class="col s12 center"><h5>Empty List</h5></li>
                        {% else %}    
                            <li class="col s12 center">
                                You Must
                                <a href="{{ url_for('login')}}" class="light-blue-text text-darken-4">Log In</a>
                                To Check Your Lists
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="tab5" class="col s12">
                <ul id="ul-lists">
                    {% for movie in favorite_list %}
                        {% if list_type == 'movie' %}
                            {% set title = movie['title'] %}
                        {% else %}
                            {% set title = movie['name'] %}
                        {% endif %}
                        <li class="col item-list"><a class="tooltipped img-hover-zoom--colorize" 
                            href="{{ url_for('view_movie', list_type=list_type, movie_id=movie['movie_id']) }}" 
                            data-position="bottom" data-tooltip="{{title}}">
                            <img src="{{movie['poster_path']}}" width="250" alt="Title Cover">
                            <mark><div class="title">
                                {{title}}
                            </div></mark>
                            </a> <br> 
                        </li>
                    {% else %}
                        {% if session.user %}
                            <li class="col s12 center"><h5>Empty List</h5></li>
                        {% else %}    
                            <li class="col s12 center">
                                You Must
                                <a href="{{ url_for('login')}}" class="light-blue-text text-darken-4">Log In</a>
                                To Check Your Lists
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="tab6" class="col s12">
                <ul id="ul-lists">
                    {% for movie in my_movies %}
                        {% set v_movie_id = movie['_id'] %}
                        {% set v_list_type = list_type %}
                        {% if list_type == 'movie' %}
                            {% set title = movie['title'] %}
                        {% else %}
                            {% set title = movie['name'] %}
                        {% endif %}
                        <li class="col item-list">
                            <!-- Div with Params to get movie_id from script.js -->
                            <div id="movie_id" class="{{list_type}}" name="{{movie._id}}"></div> 
                            <div class="right">
                                <!-- Modal Trigger -->
                                <a href="#modal-delete" class="btn waves-effect grey waves-red btn modal-trigger trigger-modal-delete" name="modalbtn">
                                    <i class="material-icons">delete_forever</i> Delete
                                </a>
                                <!-- Modal Structure -->
                                <div id="modal-delete" class="modal">
                                    <div class="modal-content">
                                    <h5>Are you sure you want to delete this item, <span class="modal-title"></span> <br>from your lists?</h5>
                                    <img src="{{movie['poster_path']}}" class="modal-img" width="250" alt="Title Cover">
                                    <p>This will remove <mark><span class="modal-title"></span></mark><br>from the following lists: Watchlist, Watched, Liked, Favorite</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-close waves-effect waves-green btn">Cancel</a>
                                        <a id="delete-btn" href="{{ url_for('delete_movie', movie_id=edt_movie_id, list_type=edt_list_type) }}" 
                                        class="modal-close waves-effect waves-red btn red lighten-3 delete-btn">Delete</a>
                                    </div>
                                </div>
                            </div> <br>
                            <a class="tooltipped img-hover-zoom--colorize" 
                            href="{{ url_for('view_movie', list_type=list_type, movie_id=movie['movie_id']) }}" 
                            data-position="bottom" data-tooltip="{{title}}">
                            <img src="{{movie['poster_path']}}" class="img-path" width="250" alt="Title Cover">
                            <div>
                            <mark><div class="title">
                                {{title}}
                            </div></mark>
   
                            </a> <br>
                        </li>
                    {% else %}
                        {% if session.user %}
                            <li class="col s12 center"><h5>Empty List</h5></li>
                        {% else %}    
                            <li class="col s12 center">
                                You Must
                                <a href="{{ url_for('login')}}" class="light-blue-text text-darken-4">Log In</a>
                                To Check Your Lists
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="tab7" class="col s12">
                Empty List
            </div>
        </div>
    {% endblock content %}