{% extends 'base.html' %}
    {% block content %}
        <div class="carousel-container">
            <h3 class="center-align s12 text-shadow high-light-head">
                <mark>&nbsp {{ list_name }} &nbsp</mark>
            </h3>
            <div class="carousel">
                {% for movie in movies %}
                    {% if list_type == 'movie' %}
                        {% set title = movie['title'] %}
                    {% else %}
                        {% set title = movie['name'] %}
                    {% endif %}
                    <a class="carousel-item tooltipped center-align img-hover-zoom" 
                        href="{{ url_for('view_movie', list_type=list_type, movie_id=movie.id) }}" 
                        data-position="bottom" data-tooltip="{{title}}">
                        <img src="{{movie['poster_path']}}"  alt="Title Cover">
                        {{title}}
                    </a>
                {% endfor %}
            </div>
        </div> 

        <div class="row">
            <div class="col">
              <ul class="tabs z-depth-2">
                <li class="tab col"><a class="active" href="#tab1"><i class="material-icons">local_movies</i> {{ list_name }}</a></li>
                <li class="tab col"><a  href="#tab2"><i class="material-icons">add_box</i> Watchlist</a></li>
                <li class="tab col"><a href="#tab3"><i class="material-icons">check_box</i> Watched</a></li>
                <li class="tab col"><a href="#tab4"><i class="material-icons">favorite</i> Liked</a></li>
                <li class="tab col"><a href="#tab5"><i class="material-icons">star</i> Favorite</a></li>
                <li class="tab col"><a href="#tab6"><i class="material-icons">settings</i> My Movies</a></li>
                <li class="tab col"><a href="#tab7">TAB</a></li>
                <li class="tab col"><a href="#tab8">TAB</a></li>
                <li class="tab col"><a href="#tab9">TAB</a></li>
                <li class="tab col"><a href="#tab10">TAB</a></li>
                <li class="tab col"><a href="#tab11">Reviews Panel</a></li>
              </ul>
            </div>
            <div id="tab1" class="col lists">
                <ul class="lists">
                    {% for movie in movies %}
                        {% if list_type == 'movie' %}
                            {% set title = movie['title'] %}
                        {% else %}
                            {% set title = movie['name'] %}
                        {% endif %}
                        <li class="col item-list"><a class="tooltipped img-hover-zoom--colorize" 
                            href="{{ url_for('view_movie', list_type=list_type, movie_id=movie.id) }}" 
                            data-position="bottom" data-tooltip="{{title}}">
                            <img src="{{movie['poster_path']}}" alt="Title Cover">
                            <mark><div class="title">
                                {{title}}
                            </div></mark> 
                            </a> <br>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="tab2" class="col s12">
                <ul class="lists">
                    {% for movie in watchlist %}
                        {% if list_type == 'movie' %}
                            {% set title = movie['title'] %}
                        {% else %}
                            {% set title = movie['name'] %}
                        {% endif %}
                        <li class="col item-list"><a class="tooltipped img-hover-zoom--colorize" 
                            href="{{ url_for('view_movie', list_type=list_type, movie_id=movie['movie_id']) }}" 
                            data-position="bottom" data-tooltip="{{title}}">
                            <img src="{{movie['poster_path']}}" width="250" alt="Title Cover">
                            <mark><div class="title">
                                {{title}}
                            </div></mark>
                            </a> <br> 
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="tab3" class="col s12">
                <ul class="lists">
                    {% for movie in watched_list %}
                        {% if list_type == 'movie' %}
                            {% set title = movie['title'] %}
                        {% else %}
                            {% set title = movie['name'] %}
                        {% endif %}
                        <li class="col item-list"><a class="tooltipped img-hover-zoom--colorize" 
                            href="{{ url_for('view_movie', list_type=list_type, movie_id=movie['movie_id']) }}" 
                            data-position="bottom" data-tooltip="{{title}}">
                            <img src="{{movie['poster_path']}}" width="250" alt="Title Cover">
                            <mark><div class="title">
                                {{title}}
                            </div></mark>
                            </a> <br> 
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="tab4" class="col s12">
                <ul class="lists">
                    {% for movie in liked_list %}
                        {% if list_type == 'movie' %}
                            {% set title = movie['title'] %}
                        {% else %}
                            {% set title = movie['name'] %}
                        {% endif %}
                        <li class="col item-list"><a class="tooltipped img-hover-zoom--colorize" 
                            href="{{ url_for('view_movie', list_type=list_type, movie_id=movie['movie_id']) }}" 
                            data-position="bottom" data-tooltip="{{title}}">
                            <img src="{{movie['poster_path']}}" width="250" alt="Title Cover">
                            <mark><div class="title">
                                {{title}}
                            </div></mark>
                            </a> <br> 
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="tab5" class="col s12">
                <ul class="lists">
                    {% for movie in favorite_list %}
                        {% if list_type == 'movie' %}
                            {% set title = movie['title'] %}
                        {% else %}
                            {% set title = movie['name'] %}
                        {% endif %}
                        <li class="col item-list"><a class="tooltipped img-hover-zoom--colorize" 
                            href="{{ url_for('view_movie', list_type=list_type, movie_id=movie['movie_id']) }}" 
                            data-position="bottom" data-tooltip="{{title}}">
                            <img src="{{movie['poster_path']}}" width="250" alt="Title Cover">
                            <mark><div class="title">
                                {{title}}
                            </div></mark>
                            </a> <br> 
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="tab6" class="col s12"></div>
            <div id="tab7" class="col s12"></div>
            <div id="tab8" class="col s12"></div>
            <div id="tab9" class="col s12"></div>
            <div id="tab10" class="col s12"></div>
            <div id="tab11" class="col s12"></div>
        </div>
    {% endblock content %}