{% extends 'base.html' %}
{% block content %}
<div class="row center-align">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="{{movies['poster_path']}}" alt="Title Cover">
      </div>
      <div class="card-action">
          <span class="card-title">
              {% if list_type == 'movie' %}
                  {{movies['title']}}
              {% else %}
                  {{movies['name']}}
              {% endif %}
          </span>
      </div>
      <div class="card-action">
        <a href="{{ url_for('list_movies', list_type='now_playing') }}">Return to Home</a>
      </div>
    </div>
  </div>
  <div class="col s12 m8 left-align movie-details">
    <ul class="collapsible">
      <li class="active">
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Overview</div>
        <div class="collapsible-body">
          <span>
              {% if list_type == 'movie' %}
                  Original Title:
                  {{ movies['original_title']}} |
                  {{ movies['runtime']}}
              {% else %}
                  Title:
                  {{movies['name']}}
              {% endif %}
              {% if movies['homepage']|length > 0 %}
              | <a href="{{ movies['homepage']}}"><i class="material-icons">link</i>URL</a>
              {% endif %}
              | TMDB Rate <mark>{{ movies['vote_average']}}</mark> | Votes {{ movies['vote_count']}}
          </span>
          <br><br>
          <hr /> <br>
          </blockquote>
          {{ movies['overview' ]}}
          </blockquote>
          <br><br>
          <hr /> <br>
          <span>Genre: </span>
          {% for genre in movies['genres'] %}
          <a class="btn-flat white btn-format">{{ genre['name'] }}</a>
          {% endfor %}
          <br><br>
          <hr /> <br>
          {% if movies['status'] == "Released" %}
          <span>Release Date: </span> {{ movies['release_date'] }} <br>
          <span>Status: </span> {{ movies['status'] }}
          {% else %}
          <span>Release Status: </span> {{ movies['status'] }}
          {% endif %}
          <br><br>
          <hr /> <br>

          {{ movies['popularity'] }}
          {{ movies['imdb_id'] }}

          {% for language in movies['spoken_languages'] %}
          <a class="btn-flat white btn-format">{{ language['english_name'] }}</a>
          {% endfor %}

        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">attach_money</i>Revenue</div>
        <div class="collapsible-body">
          {% for company in movies['production_companies'] %}
          <a class="btn-flat white btn-format">{{ company['name'] }}</a><br>
          {% endfor %}
          <span>Budget: </span> {{ movies['budget'] }}
          <span>Revenue: </span> {{ movies['revenue'] }}
        </div>
      </li>
      <div class="buttons-wrapper">
        <div class="fixed-action-btn direction-top active"><a class="btn-floating btn-large blue tooltipped"
            title="Draw a Card" data-position="left" data-tooltip="Draw a Card"><i
              class="large material-icons draw">crop_original</i></a>
          <ul>
            <li><a class="btn-floating lime darken-3"
                style="opacity: 0; transform: scale(0.4) translateY(40px) translateX(0px);"><span
                  class="text-white">W:0</span></a></li>
            <li><a class="btn-floating indigo darken-2"
                style="opacity: 0; transform: scale(0.4) translateY(40px) translateX(0px);"><span
                  class="text-white">L:0</span></a></li>
            <li class="tooltipped" data-position="left" data-tooltip="Visible Totals"><a class="btn-floating blue-grey"
                style="opacity: 0; transform: scale(0.4) translateY(40px) translateX(0px);"><span
                  class="text-white">2/0</span></a></li>
            <li class="tooltipped" data-position="left" data-tooltip="End Turn"><a class="btn-floating btn-large orange"
                title="Dealer's Turn" style="opacity: 0; transform: scale(0.4) translateY(40px) translateX(0px);"><i
                  class="large material-icons deck">undo</i></a></li>
            <li class="tooltipped" data-position="left" data-tooltip="New Game"><a
                class="btn-floating btn-large red darken-2" title="New Game"
                style="opacity: 0; transform: scale(0.4) translateY(40px) translateX(0px);"><i
                  class="large material-icons deck">layers</i></a></li>
          </ul>
        </div>
      </div>
    </ul>
  </div>
</div>
{% endblock content %}


<!--{"adult":false,"backdrop_path":"/loRmRzQXZeqG78TqZuyvSlEQfZb.jpg",
  "belongs_to_collection":null,"budget":22000000,"genres":[{"id":18,"name":"Drama"},
  {"id":36,"name":"History"},{"id":10752,"name":"War"}],"homepage":"http://www.schindlerslist.com/",
  "id":424,"imdb_id":"tt0108052","original_language":"en",
  "original_title":"Schindler's List","overview":"The true story of how businessman Oskar Schindler 
  saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.",
  "popularity":25.885,"poster_path":"/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg",
  "production_companies":[{"id":33,"logo_path":"/8lvHyhjr8oUKOOy2dKXoALWKdp0.png","name":"Universal Pictures","origin_country":"US"},
  {"id":56,"logo_path":"/cEaxANEisCqeEoRvODv2dO1I0iI.png","name":"Amblin Entertainment","origin_country":"US"}],
  "production_countries":[{"iso_3166_1":"US","name":"United States of America"}],
  "release_date":"1993-11-30","revenue":321365567,"runtime":195,
  "spoken_languages":[{"english_name":"German","iso_639_1":"de","name":"Deutsch"},{"english_name":"Polish","iso_639_1":"pl","name":"Polski"},
  {"english_name":"Hebrew","iso_639_1":"he","name":"עִבְרִית"},{"english_name":"English","iso_639_1":"en","name":"English"}],
  "status":"Released","tagline":"Whoever saves one life, saves the world entire.","title":"Schindler's List","video":false,"vote_average":8.6,"vote_count":11500}-->