{% extends 'base.html' %}
{% block content %}
    <div class="row center-align">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                <img src="{{movies['poster_path']}}" alt="{{movies['title']}}">
                </div>
                <div class="card-action">
                    <span class="card-title">{{movies['title']}}</span>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('now_playing') }}">Return to Home</a>
                </div>
            </div>
        </div>
        <div class="col s12 m8">
            <ul class="collapsible">
                <li class="active">
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>Overview</div>
                  <div class="collapsible-body"><span>{{movies['overview']}}</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
              </ul>
        </div>
    </div>
{% endblock content %}    
