{% extends 'base.html' %}

{% block content %}

{% include 'lists_bar.html' %}

<div class="row center-align">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="{{movies['poster_path']}}" alt="Title Cover">
      </div>
      <div class="card-action">
        <span class="card-title">
          {% if list_type == 'movie' %}
            {% set title = movies['title'] %}
            {{movies['title']}}
          {% else %}
            {% set title = movies['name'] -%}
            {{movies['name']}}
          {% endif %}
        </span>
      </div>
      <div class="card-action">
        <a href="{{ url_for('list_movies', list_type='now_playing') }}">Return to Home</a>
      </div>
    </div>
    <!-- Animated Checkboxes -->
    <!-- src https://codepen.io/jaradlight/pen/IEbKq -->
    <div class="row">
      <form class="col s12" name="chk-list" id="chk-list" method="POST" 
        action="{{ url_for('add_list', movie_id=movies['id'], list_type=list_type, title=title) }}">
        <div class="checkbox-list">
          <ul class="choice-list">
            {% if movies_users.to_watch == "on" %}
              <li value="on" name='to_watch' id="to_watch" class="checkbox plus tooltipped is-checked" 
                data-position="bottom" data-tooltip="Add Watch List">
                <label for="to_watch"></label></li>
            {% else %}
              <li value="on" value="to_watch" name='to_watch' id="to_watch" class="checkbox plus tooltipped" 
                data-position="bottom" data-tooltip="Add Watch List">
                <label for="to_watch"><input type="checkbox" name='to_watch'/></label></li>
            {% endif %}

            {% if movies_users.watched == "on" %}
              <li value="on" name='watched' id="watched" class="checkbox check tooltipped is-checked" 
                data-position="bottom" data-tooltip="Add Watched List">
                <label for="watched"><input type="checkbox" name='watched'/></label></li>
            {% else %}
              <li value="on" name='watched' id="watched" class="checkbox check tooltipped" 
                data-position="bottom" data-tooltip="Add Watched List">
                <label for="watched"><input type="checkbox" name='watched' /></label></label></li>
            {% endif %}
              
            {% if movies_users.liked == "on" %}
              <li value="on" name='liked' id="liked" class="checkbox heart tooltipped is-checked" 
                data-position="bottom" data-tooltip="Like">
                <label for="liked"><input type="checkbox" name='liked' /></label></li>
            {% else %}
              <li value="on" name='liked' id="liked" class="checkbox heart tooltipped" 
                data-position="bottom" data-tooltip="Like">
                <label for="liked"><input type="checkbox" name='liked' /></label></li>
            {% endif %}                
              
            {% if movies_users.favorite == "on" %}
              <li value="on" name='favorite' id="favorite" class="checkbox star tooltipped is-checked" 
                data-position="bottom" data-tooltip="Add Favorite List">
                <label for="favorite"><input type="checkbox" name='favorite' /></label></li>
            {% else %}
              <li value="on" name='favorite' id="favorite" class="checkbox star tooltipped" 
                data-position="bottom" data-tooltip="Add Favorite List">
                <label for="favorite"></label></li> 
            {% endif %}             
          </ul>
        </div>
        <input type='text' name="poster_path" id="poster_path" value="{{ movies['poster_path'] }}" style='display:none;'>
        <label for="poster_path"></label>
        <input type='text' name="edt_to_watch" id="edt_to_watch" value="{{ movies_users['to_watch'] }}" style='display:none;'>
        <label for="edt_to_watch"></label>
        <input type='text' name="edt_watched" id="edt_watched" value="{{ movies_users['watched'] }}" style='display:none;'>
        <label for="edt_watched"></label>
        <input type='text' name="edt_liked" id="edt_liked" value="{{ movies_users['liked'] }}" style='display:none;'>
        <label for="edt_liked"></label>
        <input type='text' name="edt_favorite" id="edt_favorite" value="{{ movies_users['favorite'] }}" style='display:none;'>
        <label for="edt_favorite"></label>

        <button type="submit" class="btn-large light-blue blue darken-1 text-shadow">
          Add Lists <i class="fas fa-edit right"></i>
      </button>
      </form>      
    </div>
    
  </div>
  <div class="col s12 m8 left-align movie-details">
    <ul class="collapsible">
      <li class="active">
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Overview</div>
        <div class="collapsible-body">
          <span><i class="material-icons">local_movies</i>
            {% if list_type == 'movie' %}
              Original Title:
              {{ movies['original_title']}} <br>
               {{ movies['runtime']}} min
            {% else %}
              Title:
              {{movies['name']}}
            {% endif %}
            {% if movies['homepage'] != None %}
              | <a href="{{ movies['homepage']}}"><i class="material-icons">link</i>URL</a>
            {% endif %}
            | TMDB Rate <mark>{{ movies['vote_average']}}</mark> | Votes {{ movies['vote_count']}}
          </span>
          <hr/>
          <blockquote class="blockquote overview">
            {{ movies['overview' ]}}
          </blockquote>
          <hr/>
          {% if movies['genres'] != [] %}
            <span>Genre: </span>
            {% for genre in movies['genres'] %}
              <a class="btn-flat white btn-format">{{ genre['name'] }}</a>
            {% endfor %}
            <hr/>
          {% endif %}
          {% if movies['status'] == "Released" %}
            {% if movies['release_date'] != "" %}
            <span>Release Date: </span> {{ movies['release_date'] }} <br>
            {% endif %}
            <span>Status: </span> {{ movies['status'] }}
          {% else %}
            <span>Release Status: </span> {{ movies['status'] }}
          {% endif %}
          <hr/>
          <span>TMDB Popularity Rank: </span>{{ movies['popularity'] }}<br>
          {% if list_type == 'movie' %}
            <span>IMDB ID: </span>{{ movies['imdb_id'] }}
          {% endif %}
          <hr/>
          {% if movies['spoken_languages'] != [] %}
            <span>Spoken Languages: </span> <br>
            {% for language in movies['spoken_languages'] %}
              <a class="btn-flat white btn-format">{{ language['english_name'] }}</a>
            {% endfor %}
            <hr/>
          {% endif %}
          {% if movies['production_companies'] != [] %}
            <span>Production Companies: </span> <br>
            {% for company in movies['production_companies'] %}
              <a class="btn-flat white btn-format">{{ company['name'] }}</a><br>
            {% endfor %}
            <hr/>
          {% endif %}
      </li>
      {% if list_type == 'movie' %}
        {% if (movies['budget'] != "") or (movies['revenue'] != "") %}
          <li>
            <div class="collapsible-header"><i class="material-icons">attach_money</i>Revenue</div>
            <div class="collapsible-body">
              {% if (movies['budget'] != "") %}
                <a class="btn-flat white btn-format"><span>Budget: </span> {{ movies['budget'] }}</a>
              {% endif %}
              {% if (movies['revenue'] != "") %}
                <a class="btn-flat white btn-format"><span>Revenue: </span> {{ movies['revenue'] }}</a>
              {% endif %}
            </div>
          </li>
        {% endif %}
      {% endif %}
      <li>
        <div class="collapsible-header"><i class="material-icons">create</i>Review</div>
        <div class="collapsible-body">
          Wrote or edit your review about the movie:
          <form method="POST" 
            action="{{ url_for('add_review', movie_id=movies['id'], list_type=list_type, title=title) }}">
            <input type='text' name="poster_path" id="poster_path" value="{{ movies['poster_path'] }}" style='display:none;'>
            <label for="poster_path"></label>
            <br>
            <textarea id="review" class="materialize-textarea"
            name="review" id="review" value="{{ reviews['review'] }}"></textarea>
            <label for="review">Movie Review</label>
            <br><br>
            <button
              type="submit"
              id="btn-submit-review"
              class="btn btn-secondary"> 
              <i class="material-icons left">create</i>Submit
            </button>
              {% if review_movie_user['_id'] %}
              <!-- Modal trigger -->
              <a href="#delete-review" class="btn red text-shadow btn delete-review modal-trigger">
                <i class="fas fa-times-circle left "></i>Delete Review
              </a>
            
              <!-- Modal Structure -->
              <div id="delete-review" class="modal">
                <div class="modal-content">
                <h4>Delete Movie Review <i class="medium material-icons right">warning</i></h4>
                <p>These will delete your review for this movie</p>
                </div>
                <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn">Cancel</a>
                <a href="{{url_for('delete_review', movie_id=movies['id'], list_type=list_type, title=title, review_id=review_movie_user['_id'])}}" 
                  class="modal-close red lighten-2 waves-effect waves-red btn">Delete</a>
                </div>
              </div>
              {% else %}       
                <div></div>
              {% endif %}
            
            <br>
            <br>
            {% for review in reviews %}
              {{ review['user_name'] }}:
                <blockquote class="blockquote overview"> 
                  <p><em>{{ review['review'] }}</em></p>
                </blockquote>
            {% endfor %}  
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>

{% endblock content %}


<!--{"adult":false,"backdrop_path":"/loRmRzQXZeqG78TqZuyvSlEQfZb.jpg",
  "belongs_to_collection":null,"budget":22000000,"genres":[{"id":18,"name":"Drama"},
  {"id":36,"name":"History"},{"id":10752,"name":"War"}],"homepage":"http://www.schindlerslist.com/",
  "id":424,"imdb_id":"tt0108052","original_language":"en",
  "original_title":"Schindler's List","overview":"The true story of how businessman Oskar Schindler 
  saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.",
  "popularity":25.885,"poster_path":"/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg",
  "production_companies":[{"id":33,"logo_path":"/8lvHyhjr8oUKOOy2dKXoALWKdp0.png","name":"Universal Pictures","origin_country":"US"},
  {"id":56,"logo_path":"/cEaxANEisCqeEoRvODv2dO1I0iI.png","name":"Amblin Entertainment","origin_country":"US"}],
  "production_countries":[{"iso_3166_1":"US","name":"United States of America"}],
  "release_date":"1993-11-30","revenue":321365567,"runtime":195,
  "spoken_languages":[{"english_name":"German","iso_639_1":"de","name":"Deutsch"},{"english_name":"Polish","iso_639_1":"pl","name":"Polski"},
  {"english_name":"Hebrew","iso_639_1":"he","name":"עִבְרִית"},{"english_name":"English","iso_639_1":"en","name":"English"}],
  "status":"Released","tagline":"Whoever saves one life, saves the world entire.","title":"Schindler's List","video":false,"vote_average":8.6,"vote_count":11500}-->

  <!-- SERIE API SAMPLE RETURN
    {"page":1,"results":[{"backdrop_path":"/wr7nrzDrpGCEgYnw15jyAB59PtZ.jpg","first_air_date":"2021-06-09","genre_ids":[18,10765],"id":84958,"name":"Loki","origin_country":["US"],
    "original_language":"en","original_name":"Loki","overview":"After stealing the Tesseract during the events of “Avengers: Endgame,” 
    an alternate version of Loki is brought to the mysterious Time Variance Authority, a bureaucratic organization that exists outside of time and space and monitors the timeline. 
    They give Loki a choice: face being erased from existence due to being a “time variant”or help fix the timeline and stop a greater threat.","popularity":6303.59,
    "poster_path":"/kEl2t3OhXc3Zb9FBh1AuYzRTgZp.jpg","vote_average":8.1,"vote_count":4680},
  -->